<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias alias="course" type="com.team.project.course.CourseVO" />
		<typeAlias alias="user" type="com.team.project.user.UserVO" />
		<typeAlias alias="usercourse" type="com.team.project.usercourse.UsercourseVO" />
	</typeAliases>
</configuration>